$blue: hsl(217deg, 92%, 76%);
$mauve: hsl(267deg, 84%, 81%);

* {
	text-decoration: none; 
	list-style-type: none;
	list-style: none;
	padding: 0;
	border: 0;
	outline: 0;
	margin: 0;
	color: currentColor;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

body {
	color: rgba(235, 235, 235, 0.64);
	background-color: #181818;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

@media only screen and (max-width: 600px) {
	main {
		margin: 0;
	}
}