* {
	text-decoration: none; 
	list-style-type: none;
	list-style: none;
	padding: 0;
	border: 0;
	outline: 0;
	margin: 0;
	color: currentColor;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

body {
	color: #f0f0f0;
	background-color: #090909;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: #6649b8;
}

@media only screen and (max-width: 600px) {
	main {
		margin: 0;
	}
}

.dark {
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
}

.solar {
	--text-primary: #576e75;
	--text-secondary: #35535c;
	--bg-primary: #fdf6e3;
	--bg-secondary: #f5e5b8;
}